<%# root node is depth 0 but has no comments, start margin at depth = 2 %>
<div style="margin-bottom:20px; margin-left:<%= (depth - 1) * 20 %>px">
  <span style="float:left; margin-right:20px">
    <%= render partial: "shared/vote_buttons",
      locals: {
      resource: comment,
      upvote_path: comment_upvote_path(@post, comment),
      downvote_path: comment_downvote_path(@post, comment)
    } %>
  </span>
  <span>
    <div><%= comment.user %> says:</div>
    <div><%= comment.body %></div>
  </span>
  <button onclick="showReplyForm(<%= comment.id %>)">reply</button>
  <%= render partial: "comments/form",
             locals: { parent_id: comment.id, hidden: true } %>
</div>

<%# recursively render children %>
<% children.each do |child| %>
  <%=
    render partial: "comments/comment",
      locals: {
        depth: child.depth,
        comment: child.comment,
        children: child.children
      }
  %>
<% end %>
