<script>
  const showReplyForm = (commentId) => {
    const form = document.getElementById(`reply-form-${commentId}`);
    form.style.display = 'block';
  };
</script>

<div>
  <span style="float:left; margin-right:20px">
    <%= upvote_button(@post, post_upvote_path) %>
    <div><%= @post.upvotes - @post.downvotes %></div>
    <%= downvote_button(@post, post_downvote_path) %>
  </span>
  <span>
    <a href="<%= @post.url %>"><%= @post.title %></a>
  </span>
</div>
<br>
<br>

<%= render partial: "comments/form", locals: { parent_id: "" } %>

<% if !flash[:errors].nil? && !flash[:errors].empty? %>
  <div>Unable to save comment, errors:</div>
  <% flash[:errors].each do |msg| %>
    <div><%= msg %></div>
  <% end %>
<% end %>

<h2>Comments</h2>
<%= render partial: "comments/comments_tree" %>

<%= link_to 'Back', posts_path %>
