<div>
  <span style="float:left; margin-right:20px">
    <%= upvote_button(@post, post_upvote_path) %>
    <div><%= @post.upvotes - @post.downvotes %></div>
    <%= downvote_button(@post, post_downvote_path) %>
  </span>
  <span>
    <a href="<%= @post.url %>"><%= @post.title %></a>
  </span>
</div>
<br>
<br>

<%= form_with model: [ @post, Comment.new ], local: true do |form| %>
  <p>
    <div>leave a comment</div>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<% if !flash[:errors].nil? && !flash[:errors].empty? %>
  <div>Unable to save comment, errors:</div>
  <% flash[:errors].each do |msg| %>
    <div><%= msg %></div>
  <% end %>
<% end %>

<h2>Comments</h2>
<%= render(@post.comments) %>

<%= link_to 'Back', posts_path %> 
